__pycache__

*.pyc

personal_api.py
#when creating a new branch, a generic personal_api.py 
#is included; deleted this generic one, push to github,
#then paste the one with the real API key in, which 
#github will then ignore